@charset "UTF-8";

* {margin: 0; padding: 0;}

body {
    width: 100%;
    font-family: 'news cycle', sans-serif;
}
/* HEADER */

h1 {
    font-family: 'news cycle', sans-serif;
    font-size: 62px;
    letter-spacing: 3px;
    color: #dedede;  
    line-height: 27px;
    float: left;
    margin-left: 35px;
}

#last {
    font-family: 'roboto condensed', sans-serif;
    color: #b5b5b5;
    font-size: 17.5px;
    letter-spacing: 2.4px;
    margin-left: 3px;
    animation-name: last;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction:alternate;
}

header {
    padding-top: 45px;
    padding-bottom: 30px;
    position: fixed;
    width: 100%; 
    top: 0;
    z-index: 2;
    /*background-color: rgba(255, 255, 255, 0.5);*/
}

header img {
    display: none;
}

/* NAV */

nav {   
    font-size: 1.1em;
    letter-spacing: 1.7px;
    text-transform: uppercase;
    font-family: 'news cycle', sans-serif;
    text-align: right;
    float: right;
    margin-right: 35px;
}

nav li {
    display: inline-block;
    list-style-type: none;
    margin-left: 20px;
    background-color: rgb(255,255,255);
}
li a {
    color: #ada9a9;
    text-decoration: none;
}

#underline {
    border-bottom: .5px solid black;
}
#current {
    color: #383838;
}

header a:hover {
    color: #ff2700;
}


#work li {
    list-style-type: none;
    letter-spacing: .6px;
    cursor: pointer;
}
#work {
    font-size: 13px;
    margin-top: 20px;
    color: #404040;
}
#work a {
    color: #404040;
}

#pictures {
    margin-top: 150px;
}
/* PICTURES SECTION */

#pictures {
    height: 68vh;
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow-x: scroll;
}

#pictures img {
    height: 98%;
    display: inline-block;
}
#pictures img:first-child {
    margin-left: 55px;
}
#pictures img:last-child {
    margin-right: 30px;
}

/* WEB DESIGN SECTION */

#web {
    margin: 250px 80px;
    height: auto;
}

#web h3 {
    letter-spacing: 1.2px;
    font-family: 'roboto condensed',sans-serif;
    text-transform: uppercase;
    color: #5f5f5f;
    border-bottom: 1px solid #afafaf;
    margin-bottom: 3px;
}

#web aside { 
    width: 45%;
    text-align: left;
}
#web p {
    padding-bottom: 5px;
    font-size: .9em;
    color: #383838;
    letter-spacing: .3px;
}
#web p:last-child {
    font-size: .8em;
    color: #383838;
    margin-top: 5px;
}
#web p i {
    font-size: .8em;
}
#web article {
    text-align: center;
    margin: 40px auto 40px;
    
}
#web img, #web aside, #color h2 {
    display: inline-block;
    vertical-align: middle;
}
#web img {
    margin: 10px 40px;
}
#web a {
    color: #ff2700;
    text-decoration: none;
}

#thought {
    position: relative;
    top: -20px;
}
article a:hover {
    color: #ff2700;
}
footer {
    position: fixed;
    bottom: 0px;
    padding-top: 20px;
    text-align: center;
    width: 100%;
    margin: 0 auto 5px;
    color: #9a9a9a;
}
footer a {
    color: #505050;
}
#color h2 {
    width: 250px;
    font-family: 'ostrich_sansmedium';
    font-size: 4em;
    letter-spacing: 5px;
    margin: 20px 20px;  
}
#colorText {
    animation-name: background;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes last {
    0% {color: #eaeaea;}    
    25% {color: #f4f4f4;}
    50% {color: #e2e2e2;}
    75% {color: #c6c6c6;}
    100% {color: #d8d8d8;}
    }
@keyframes background {
    0% {color: #dedb81;}    
    25% {color: #8db2ab;}
    50% {color: #a3bac4;}
    75% {color: #9a8da0;}
    100% {color: #ba8f8c;}
    }

@font-face {
    font-family: 'ostrich_sansmedium';
    src: url('type/ostrichsans-medium-webfont.eot');
    src: url('type/ostrichsans-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('type/ostrichsans-medium-webfont.woff2') format('woff2'),
         url('type/ostrichsans-medium-webfont.woff') format('woff'),
         url('type/ostrichsans-medium-webfont.ttf') format('truetype'),
         url('type/ostrichsans-medium-webfont.svg#ostrich_sansmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* GRAPHIC SECTION */
#graphic {
    width: 750px;
    margin: 190px auto;
}
#graphic div {
    display: inline-block;
    margin-left: 2px;
    margin-bottom: 5px;
    overflow: hidden;
    height: 200px;
    vertical-align: top;
}
#graphic img {
    width: 100%;
}

div.foam {
    border: 1px solid black;
}

#container img {
    width: 32.9%;
    display: inline-block;
}

#graphic i {
    float: right;
    margin: 5px 10px 0px 0px;
}
#graphic h3 {
    letter-spacing: 1px;
    margin-bottom: 5px;
    margin-top: 30px;    
    font-family: 'libre franklin', serif;
    font-weight: 200;
    font-size: 1.5em;
}

#graphic div p, #graphic li {
    font-family: 'open sans condensed', sans-serif;
    letter-spacing: .2px;
}
#graphic div p {
    width: 70%;
    margin-bottom: 20px;
    margin-left: 10px;
}
#graphic div p, #graphic li {
    font-family: 'libre franklin', sans-serif;
    letter-spacing: .2px;
}
#graphic li {
    font-size: .9em;
    margin-left: 15px;
    list-style-type: none;
}
#graphic p:last-child {
    font-size: .8em;
    margin-left: 15px;
}


/* --------------------------- About Me */

.about {
    text-align: center;
    width: 45%;
    margin: 200px auto;
}

.about h2 {
    font-family: 'roboto condensed', sans-serif; 
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 1.3px;
    margin-bottom: 5px;
}
section#more {
    
}
/* ------------------------- Art Prints */

section#art {
    width: 80%;
    margin: 190px auto;
    
}
#art img {
    width: 100%;
}

#art div {
    width: 50%;
}

#col1 {
    float: left;
}

#col2 {
    float: right;
}